@model User
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f3f4f6;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .reset-box {
            background: #fff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 400px;
        }
    </style>
    @{
        Layout = null;
    }
</head>
<body>
    <div class="reset-box">
        <h3 class="text-center mb-4">Reset Your Password</h3>

        <form asp-action="ResetPassword" asp-controller="Admin" method="post">
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="btn">Update Password</button>
            <span id="error"></span>
            @{
                if (@TempData["UpdatePasswordMessage"] != null)
                {
                    <p style="color:red">@TempData["UpdatePasswordMessage"]</p>
                }
            }
        </form>
    </div>
    <script>
        const oldp=document.getElementById('Password')
        const newp=document.getElementById('ConfirmPassword')
        const btn=document.getElementById('btn')
        const error=document.getElementById('error')

        btn.addEventListener('click',(e)=>
        {
            if(oldp.value!=newp.value)
            {
                error.textContent = "password Does Not match";
                 e.preventDefault();
                return;
            }
        })
    </script>
</body>
