@model List<Department>

<form asp-action="SelectdList" method="post">
    <h1>
        @foreach (var dept in Model)
        {
                <input type="checkbox" name="seletedlist" value="@dept.DepartmentID" />
                <label>@dept.DepartmentName</label>   
        }
        <button type="submit">Click</button>
    </h1>
</form>
