<script>
    
    import { showLoader, hideLoader } from './loader.js';

    const show = document.getElementById('show');
    const hide = document.getElementById('hide');

    show.addEventListener('click',()=>{
        showLoader();
    })
    hide.addEventListener('click',()=>{
        hideLoader();
    })


</script>

<button id="show">show</button>
<button id="hide">show</button>
